html, body {
    background-color: #000;
    font-size: inherit !important;
}

.title {
    position: absolute;
    text-align: center;
    left: 0;
    bottom: 4rem;
    font-size: 2rem;
    width: 100%;
    color: #FFF;
    font-family: monospace;
}

.ui {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#overlay {
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
